.main-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.calendar-container {
  flex: 0 0 60%;
  padding: 10px;
  background-color: #9494fa;


} /* flex-grow, flex-shrink, flex-basis */

.smallitem { flex: 0 0 20%; }
